*{
    margin: 0px;
    box-sizing: border-box;
}


.background{
    background-image: url('../images/background.png');
    width: 1024px;
    height: 600px;
    padding-left: 20px;
    padding-top: 20px;
}

.outerbox{
    background-image: url('../images/outerbox.png');
    width: 808px;
    height: 544px;
}

.wrapper{
    display:flex;
    padding-left: 32px;
    padding-top: 32px;
}
.wrapper__left{
    background-color: skyblue;
    width:208px;
    height: 472px;
}
.wrapper__right{
    background-color: green;
    width: 524px;
    height: 472px;;
}
.top{
    background-color: tan;
    width: 208px;
    height: 15px;
    text-align: center;
    font-size:9px;
}
.bottom{
    background-color: tomato;
    width: 208px;
    height: 440px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.imagebox{
    background-color: yellow;
    width:148px;
    height: 133px;;
}
.dot{
    border:none; border:1px dashed; width:148px;
    margin-top:20px;
    margin-bottom:20px;

}
.profile{
    font-size: 12px;
}
.feeling{
    background-color: violet;
    width:141px;
    height:41px;
}